
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            photoCover="https://c4.wallpaperflare.com/wallpaper/148/216/53/league-of-legends-shaco-league-of-legends-video-games-wallpaper-preview.jpg"
            cardTitle="Shaco na voz"
            cardDescription="Até que enfim, essas boneco podre irá receber algo decente nesse jogo"
        ></app-big-card>
        <app-big-card
            photoCover="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Zoe_0.jpg"
            cardTitle="NOVIDADES DE SUMA URGENCIA!!"
            cardDescription="LOL tomará vergonha na cara e removerá Zoe dos campos da justiça!"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            photoCover="https://images7.alphacoders.com/132/1323387.jpeg"
            cardTitle="Nova skin Shaco"
        ></app-small-card>
        <app-small-card
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkmTL9bPDZ8QFIM8yJNvrsGrfnrGCXnenuGP2DDExz8Uw0OlPIM8ioCzDKHjUW2WmdOHc&usqp=CAU"
            cardTitle="Buff palhaço please"
        ></app-small-card>
        <app-small-card
        photoCover="https://wallpapercave.com/wp/wp1865191.jpg"
        cardTitle="Depressão de jogo"
        ></app-small-card>
    </div>
</div>